body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  margin: 0;
}

.logo {
  width: 150px;
  height: 150px;
}

.header {
  background-color: #111;
  color: white;
  padding: 50px;
  margin: 0;
  width: 95%;
  text-align: center;
  font-size: 30px;
}

.page h2 {
  color: rgb(0, 0, 0);
  margin: 0;
  text-align: center;
  font-size: 25px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.login-items input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.page button {
  background-color: rgb(6, 106, 255);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  height: 40px;
  display: block;
}

.page button:hover {
  background-color: #698bf2;
}

.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo2 {
  width: 150px;
  height: 150px;
}

.sidebar button {
  display: block;
  color: white;
  background-color: #111;
  font-size: 16px;
  text-align: center;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 10px 0;
  transition: background 0.3s;
  margin-top: 10px;
}

.sidebar button:hover {
  background-color: #468dff;
}

.sidebar .logout-button {
  margin-top: auto;
  margin-bottom: 20%;
  width: 60%;
  background-color: red;
}

.sidebar .logout-button:hover {
  background-color: darkred;
}

.content {
  margin-left: 220px;
  padding: 20px;
}

.content h2 {
  background-color: #111;
  color: white;
  margin: 0;
  width: 80%;
  height: 50%;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

form label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
  color: #333;
}

form input, form select, form textarea {
  flex: 2;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

form button {
  background-color: #0062cc;
  color: white;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
}

form button:hover {
  background-color: #698bf2;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  width: 50%;
}

#grid div {
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
